.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    background-color: bisque !important;
    padding: 5px !important;
}

.css-mps6pm-MuiInputBase-input-MuiFilledInput-input {
    background: bisque !important;
    width: 80px !important;
    padding: 5px !important;
    margin: 2px !important;
}