header {
  font-size: 2em;
  padding: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.glueRat {
  width: 1em;
  height: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

button:disabled {
  background-color: #777;
  cursor: initial;
}

button.dangerButton:disabled {
  background-color: #500;
}

button.dangerButton:not(:disabled) {
  background-color: #d11;
}

@media only screen and (max-width: 768px) {
  nav::before {
    content: url("hamburger_menu.svg");
  }

  nav {
    position: relative;
  }

  nav > ul {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 0.2em;
    border: 1px solid white;
    top: 100%;
    right: 0;
    padding: 0.1em;
  }

  nav > ul:hover, nav:hover > ul {
    display: initial;
    z-index: 2;
  }

  .dropdown {
    font-size: 75%;
    padding-left: 1em;
  }
}

@media print, screen and (min-width: 769px) {
  nav > ul > li {
    display: inline-block;
    margin: 0 0.7em;
    padding-bottom: 0.2em;
    position: relative;
    cursor: pointer;
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 0.15em;
    padding: 0.2em;
    font-size: 75%;
  }

  li:hover .dropdown, .dropdown:hover {
    display: block;
  }
}

main {
  text-align: center;
  font-size: calc(1vw + 1.5vh);
  padding: 0 1rem;
}

a.nolinkstyle {
  text-decoration: none;
  color: white;
}

input, button, select {
  font-size: calc(1vw + 1.5vh);
  font-family: Dosis, sans-serif;
  background: white;
  color: black;
  border: none;
  border-radius: 0.2em;
  padding: 0.1em;
}

button {
  cursor: pointer;
}

#searchbar {
  margin-right: 0.5em;
}
.tableContainer {
  overflow-x: auto;
  width: 100%;
}
table {
  margin: 0.5em auto;
  border-collapse: collapse;
  border: 2px solid white;
}
table th, table td {
  padding: 0.2em 0.5em;
}
thead tr:last-child th, thead tr:last-child {
  border-bottom: 2px solid white;
}
#latestvid {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 60rem;
  height: auto;
  border: none;
}

label {
  margin-right: 1em;
}

input[type="checkbox"] {
  width: calc(1vw + 1.5vh);
  height: calc(1vw + 1.5vh);
}

input[type="file"] {
  vertical-align: middle;
}

.formLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
