header {
  font-size: 2em;
  padding: 0.2em;
}

.glueRat {
  width: 1em;
  height: 1em;
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 0.7em;
  padding-bottom: 0.2em;
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 0.15em;
  padding: 0.2em;
  font-size: 75%;
}

li:hover .dropdown, .dropdown:hover {
  display: block;
}

main {
  text-align: center;
  font-size: 2em;
}

a.nolinkstyle {
  text-decoration: none;
  color: white;
}

input {
  font-size: 2.5rem;
  font-family: Dosis, sans-serif;
  background: white;
  border: none;
  border-radius: 0.2em;
  padding: 0.1em;
}

#searchbar {
  margin-right: 0.5em;
}

table {
  margin: 0 auto;
}
table th, table td {
  padding: 0.2em 0.5em;
}
