@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  background-color: #111;
  font-family: Dosis, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  background-color: #111;
  background-image: url("randy_cornfield_bg.webp");
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: translate3d(0, 0, 0);
}

#root {
  position: absolute;
  width: 100vw;
  padding-bottom: 7.5vh;
}
